.ana{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
div ul li {
    font-size: 17px;
    
}
img{
    width:  100%;
    height: 450px;
}

.yazi{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;   
}
ul{
    list-style-type: none;
}
.ul{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.yazilar ul li{
    padding: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.butonlar{
   margin-top: 19px;
   
}
footer ul li{
    padding: 15px;
}
footer i {
    padding: 7px;
}
.ikon{
    margin: 7px;
    width: 40px;
    height: 40px;
}
.haklar{
    text-align: center;
    
    margin-top: 50px;
}
.fixed{
    align-items: center;
    justify-content: space-around;
    display: flex;
    position: fixed;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.821);
    bottom: 30px;
    left: 20px;
}
.fixed img{
    height: auto;
    width: 30px;
}



/* responsive */
@media screen and  (max-width:570px){
    img{
        width: 100%;
        height:300px;
    }
    
}
a{
    color: black;
    text-decoration: none;
}
i{
    font-size: 25px;
}